* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #F1F5F8;
}
:root {
  --txt-subtitle: #8487A6D4;
  --txt-title: #2D4559;
  --lavender: #DAE2EC;
}
.container {
  width: 90vw;
  padding: .75rem;
}
.container h2, .container p {
  text-align: center;
}
.container h2 {
  margin-top: 1rem;
  color: var(--txt-title);
}
.container p {
  color: var(--txt-subtitle);
  font-size: .75rem;
}
.gallery {
  width: 100%;
  height: auto!important;
  margin-top: 1rem;
  border-radius: .85rem;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 3px 3px 6px #BBB;
}
.tabs .head {
  width: 100%;
  display: flex;
  background-color: var(--lavender);
}
.tabs .head span {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  padding: .5rem;
  color: var(--txt-title);
  font-size: .8rem;
  letter-spacing: .2rem;
  transition: .3s ease-in;
}
.tabs .body {
  width: 100%;
  min-height: 15vh;
  background-color: white;
  padding: 1rem 1rem;
}
.tabs .body p {
  text-align: start;
}
.tabs p strong {
  font-size: .75rem;
  color: var(--txt-title);
}
.active {
  background-color: white!important;
  font-weight: bold;
}